@inherits LayoutComponentBase
@inject IBootstrapCss BootstrapCSS

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await BootstrapCSS.SetBootstrapCss();
    }
}