@page "/regexes"
@using System.Text.RegularExpressions

<h1>Regexes</h1>

<p>
    <label>Regex:</label>
    <input class="form-control" @bind="RegexText" />
</p>
<p>
    <label>Tests:</label>
    <textarea class="form-control" @bind="Tests" rows="10"></textarea>
</p>
<p>
    <button class="btn btn-primary" @onclick="Test_Click">Test</button>
</p>
<p>
    <BSTabGroup>
        <BSTabList>
            <BSTab>
                <BSTabLabel>Matches</BSTabLabel>
                <BSTabContent>
                    <ul class="list-group">
                        @foreach (var m in Matches)
                        {
                            <li class="list-group-item">@m</li>
                        }
                    </ul>
                </BSTabContent>
            </BSTab>
            <BSTab>
                <BSTabLabel>Split list</BSTabLabel>
                <BSTabContent>
                    <ul class="list-group">
                        @foreach (var m in SplitList)
                        {
                            <li class="list-group-item">@String.Join(" | ", m)</li>
                        }
                    </ul>
                </BSTabContent>
            </BSTab>
            <BSTab>
                <BSTabLabel>Table</BSTabLabel>
                <BSTabContent>Coming soon</BSTabContent>
            </BSTab>
        </BSTabList>
        <BSTabSelectedContent />
    </BSTabGroup>
</p>

@code {
    protected string Tests { get; set; }
    protected string RegexText { get; set; }
    protected List<string> Matches { get; set; } = new List<string>();
    protected List<string[]> SplitList { get; set; } = new List<string[]>();

    private Regex testRegex;
    private string prevRegexText;

    protected void Test_Click(object e)
    {
        if (prevRegexText != RegexText)
        {
            Console.WriteLine("Changing RegEx");
            testRegex = new Regex(RegexText, RegexOptions.Compiled);
            prevRegexText = RegexText;
        }
        var tests = Tests?.Split(new string[] { Environment.NewLine }, StringSplitOptions.RemoveEmptyEntries);

        Matches = GetMatches(tests);
        SplitList = GetSplitList(tests);
    }

    private List<string> GetMatches(string[] tests)
    {
        var results = new List<string>();

        foreach (var item in tests)
        {
            if (testRegex.IsMatch(item))
            {
                results.Add(item);
            }
        }
        return results;
    }

    private List<string[]> GetSplitList(string[] tests)
    {
        var results = new List<string[]>();

        foreach (var item in tests)
        {
            var splitResult = testRegex.Split(item);
            if (splitResult.Any(i => !String.IsNullOrEmpty(i)))
                results.Add(splitResult);
        }

        return results;
    }
}
