@page "/about"

<h2>Blazor RegEx tester</h2>

<p>
    &nbsp;
</p>
<p>
    This application is a Blazor regular expressions tester.
</p>
<p>
    Using C# in browser keeps your data in your browser while utilizing native C# Regular expressions engine.
</p>