# This is a basic workflow to help you get started with Actions

name: BuildAndUploadImages

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
      - master
      - feature/**
    paths-ignore:
      - '**/*.md'
      - '**/*.gitignore'
      - '**/*.gitattributes'
  pull_request:
    branches: [ master ]

env:
  DOTNET_NOLOGO: true                     # Disable the .NET logo
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true # Disable the .NET first time experience
  DOTNET_CLI_TELEMETRY_OPTOUT: true       # Disable sending .NET CLI telemetry

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: [ ubuntu-latest ]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup .NET 10
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Set build script eXecutable
      id: builscriptexec
      run: chmod +x ./build.sh
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build ARM container
      id: armcontainer
      run: ./build.sh -Target PushArmDockerContainer -GitHubOwner "${{ github.repository_owner }}" -GitHubToken "${{ secrets.GITHUB_TOKEN }}"
    - name: Build x64 container
      id: x64container
      run: ./build.sh -Target PushDockerContainer -GitHubOwner "${{ github.repository_owner }}" -GitHubToken "${{ secrets.GITHUB_TOKEN }}"
